ion-toolbar {
  position: relative;
  color: white;

  >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-start: 0px;
    font-weight: bold;
  }
}

.header-image {
//  margin: 0 auto;
  margin: 50px;
  margin-bottom: 30px;
  margin-top: 15px;
//  width: 500px;
 // height: 300px;
  // -webkit-mask-image: radial-gradient(110% 50% at bottom, transparent 50%, #fff 51%);
  // mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
 // mask-image: radial-gradient(110% 70% at bottom, transparent 50%, #fff 51%);
 // background: linear-gradient(45deg,#ec6a5c,#ec6a5c,#ec6a5c);

  // >img {
  //  // height: 260px;
  // }
}

.container {
  .step-title{
    display: flex;
    justify-content: center;
  }

  .step-quote {
    margin-left: 35px;
    margin-right: 35px;
    line-height: 28px;
  }

  .title-font {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
  
    >p {
      margin-top: 8px;
      font-size: 24px;
      font-weight: bold;
    }
}

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;

    >ion-card {
        flex: 1 0 50%;
        background-color: white;
       // box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid #cfcfcf;
      }

    .section-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-item {
      background-color: rgb(115, 115, 115);;

      &.card-title-font {
        display: flex;
       // justify-content: center;
        align-items: center;
      }

      .title-content {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 28px;
        color: white;
        font-weight: bold;
        font-style: italic;
      }
      
      img {
        height: 70px;
      }
    }
  }

  .stepDayCount {
    display: flex;
    justify-content: center;
   //  margin-bottom: 10px;
    font-size: 18px;
   // margin-top: -90px;
  }

  .step-challenge {
    margin-top: 10px;
    font-size: 24px;
  }

  .step-quote-tool {
     margin-left: 35px;
    margin-right: 35px;
    line-height: 28px;
  }
}


