<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button (click)="habitDetailBackClick()"> </ion-back-button>
      <ion-title>Task details</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-image">
    <img src="./assets/img/substep{{selectedChanllege?.id}}/image{{stepDetail?.day-1}}.svg">
  </div>

  <div class="container">
    <div class="stepDayCount">
      Day - {{stepDetail?.day}}
    </div>

    <div class="title-font">
      <p> {{stepDetail?.title}}</p>
    </div>

    <div *ngIf="!nextLineBooleanQuote" class="step-quote">
      <p> {{stepDetail?.quote}}</p>
    </div>

    <div *ngIf="nextLineBooleanQuote" class="step-quote">
      <p *ngFor="let x of nextLineQuote">
        {{x}}
      </p>
    </div>

    <div *ngIf="!nextLineBoolean" class="step-challenge">
      {{stepDetail?.steps}}
    </div>

    <div *ngIf="nextLineBoolean" class="step-challenge card-container">
      <ion-card class="card-item card-title-font" *ngFor="let x of nextLineSteps">
        <p class="title-content">
          {{x}}
        </p>
      </ion-card>
    </div>

    <div *ngIf="!nextLineBooleanTools" class="step-quote-tool">
      <p>{{stepDetail?.tools}}</p>
    </div>

    <div *ngIf="nextLineBooleanTools" class="step-quote-tool">
      <p class="title-content" *ngFor="let x of nextLineToolsSteps">
        {{x}}
      </p>
    </div>
  </div>

  <!-- <div class="step-title">
      {{stepDetail.title}}
    </div> -->

  <!-- <ion-list class="step-detail">
      <ion-item class="step-item" (click)="passjsonData(1)">
        <img src="./assets/img/icondays1.png">
        <h6 class="title-font">
          Chapter 1 - Two Worlds
        </h6>
      </ion-item>

      <ion-item (click)="passjsonData(2)">

        <img src="./assets/img/icondays2.png">

        <h6 class="title-font">
          Chapter 2 - Green-Eyed Monster
        </h6>
      </ion-item>

    </ion-list> -->

  <!-- <div class="step-detail">
      <img src="./assets/img/qualitative-research.svg">
      <div class="title-font">
        {{stepDetail.title}}
        <div>asss</div>
      </div>
    </div>
    <div class="step-detail">
      <img src="./assets/img/icondays2.png">
      <div class="title-font">
        {{stepDetail.title}}
        <div>asss</div>
      </div>
    </div> -->

  <!-- <div class="card-container">
      <div>
        <p class="section-title">Individuals step1</p>
        <ion-card class="card-item title-font">
          {{stepDetail.title}}
        </ion-card>
        <ion-card class="card-item title-font">
          sing a song
        </ion-card>
      </div>
      <div>
        <p class="section-title"> Individuals steps 2</p>
        <ion-card class="card-item title-font">
          {{stepDetail.quote}}
        </ion-card>
        <ion-card class="card-item title-font">
          sing a song
        </ion-card>
      </div>
      <div>
        <p class="section-title">Individuals steps 3</p>
        <ion-card class="card-item title-font">
          {{stepDetail.steps}}
        </ion-card>
        <ion-card class="card-item title-font">
          sing a song
        </ion-card>
      </div>
    </div> -->
</ion-content>