<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button routerLink="/intro"> </ion-back-button>
      <ion-title>Enter details</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="habit-modal" fullscreen>
  <ion-card>
    <div class="header-image">
      <img src="./assets/img/challengeImage.png">
    </div>
  </ion-card>

  <form [formGroup]="habitForm" (ngSubmit)="goToTabs()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nick Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="nickName"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button class="habit-submit-button" expand="full" type="submit" [disabled]="!habitForm.valid">Start Challenge
    </ion-button>
  </form>
</ion-content>