ion-toolbar {
  position: relative;
  color: white;

   >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-start: 0px;
    font-weight: bold;
  }
}

.habit-modal {
  .header-image {
  margin: 0 auto;
  // width: 500px;
  // height: 300px;
  // // -webkit-mask-image: radial-gradient(110% 50% at bottom, transparent 50%, #fff 51%);
  // // mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
  // mask-image: radial-gradient(110% 70% at bottom, transparent 50%, #fff 51%);
  // background: linear-gradient(45deg,#ec6a5c,#ec6a5c,#ec6a5c);

  // >img {
  //   height: 260px;
  // }
}

.goal-card {
    height: 40px;
    background: #FCE7DA;

    .goal-container {
      display: flex;
      margin: 5px;

    .goal-text {
      color: black;
      }
    }
  }

.selected-challenge {
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
  .habit-submit-button {
    margin-top: 38px;
  }
}
