ion-toolbar {
  position: relative;
  color: white;

  >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  
  ion-title {
    padding-inline-start: 0px;
    font-weight: bold;
  }
}
.graphic-container {
  height: 100%;

  #visual-image {
    width: 100%;
    height: 100%;
  }
}


.visual-image-footer {
  display: flex;
  flex-direction: row;

  .footer-count {
    flex: 1;
  }
}