<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button (click)="vGraphicBackClick()"> </ion-back-button>
      <ion-title>Paradime - Chapter <span>{{visualGraphicChapternum}}</span></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<audio id="chatAudio" autoplay=true loop="true" src="../../assets/audio/{{audioParam}}"></audio>

<ion-content>
  <div [ngClass]="visualGraphicChapternum === 5 ? 'graphic-container-overflow' : 'graphic-container' ">
    <img id="visual-image" src="./assets/img/Scene0{{visualGraphicChapternum}}/scene0{{visualGraphicChapternum}}{{visualGraphicChapternum === 4 ? graphicCount : graphicOverflowCount}}.png">
  </div>
</ion-content>

<ion-footer no-border>
  <div class="visual-image-footer">
    <ion-button (click)="visualImageBackClick()">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button class="footer-count" color="primary">
      {{visualGraphicChapternum === 4 ? graphicCount : graphicOverflowCount}}/{{TotalmageCount}}
    </ion-button>
    <ion-button (click)="visualImageNextClick()">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-footer>