<ion-header>
  <ion-toolbar>
    <div>
      <!-- <img class="story-header-icon" src="./assets/icon-square.svg"> -->
      <span>Paradime - Overview</span>
      <a class="tour-link" (click)="resetTour()">
        Take a tour
      </a>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="about-page">
    <ion-list>
      <ion-item padding *ngFor="let step of aboutSteps?.array" (click)="toggleDetails(step)">
        <div class="description-container">
          <div class="header-title">{{step.title}}
            <ion-icon color="primary" item-right [name]="step.icon"></ion-icon>
          </div>
          <div class="description" *ngIf="step.showDetails">{{step.details}}</div>
        </div>
      </ion-item>
    </ion-list>


    <section>

      <ion-item class="links-color restart" (click)="clearStorageClick()">
        Reset the app
      </ion-item>

      <ion-item>
        <div class="space-bottom">
          <h4>Privacy Policy</h4>
          <a routerLink="/privacy" class="links-color remove-bold">Read the privacy statement here.</a>
        </div>
      </ion-item>
      <ion-item>
        <div class="space-bottom">
          <h4>Contact Us </h4>
          <p class="contact-us">General questions about the app or report a bug: </p><a href="https://spectrum.chat/paradime" class="links-color remove-bold"
            target="_blank">Spectrum
          Chat</a>
          <p class="contact-us">To contribute or provide feedback: </p>
          <div class="links-color">contact.paradime@gmail.com</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="space-bottom">
          <h4>Credits</h4>
          <p>Icons by below designers from www.flaticon.com </p>

          <p> Good ware, Monkik, Eucalyp, Smartline, Smash icons, Darius Dan and Wichai.Wi </p>


          <p> Vector art by below designers from www.freepik.com </p>

          <p> Starline, Studiogstock, Freepik, Macrovector, Pch.vector, Katemangostar, Vectorpocket, Pikisuperstar, Upklyak,
            Iconicbestiary, Vectorpouch, Slidesgo, and Rawpixel.com </p>

          <p> Music by CO.AG Music. </p>
          <p> Additional BGM by VSSONIC, Musopen and Youtube Audio Library. </p>

        </div>
      </ion-item>

      <ion-item>
        <div class="space-bottom line-height">
          <h4>User Experience Design</h4>
          <p class="links-color">Ramu Yadav Edu</p>
        </div>
      </ion-item>
    </section>

    <ion-item lines="none">
      <footer class="space-bottom line-height">
        <h4>Concept, Story, Tech and Design</h4>
        <p class="links-color">Rajesh Kumar & Srinivas Merugu</p>
      </footer>
    </ion-item>
  </div>
</ion-content>