<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button (click)="chatBackClick()"> </ion-back-button>
      <ion-title> Paradime - Chapter <span *ngIf="isChapterNumber">{{toUser.day}}</span>
        <span class="mute" (click)="muteChatAudio()">
        <fa-icon [icon]="muteIcon ? ['fas', 'volume-up'] : ['fas', 'volume-mute']">
        </fa-icon>
      </span>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<audio id="chatAudio" autoplay=true loop="true" src="../../assets/audio/{{audioParam}}"></audio>

<ion-content class="app-chat dark-image">
  <div class="message-wrap">
    <div *ngFor="let msg of msgView" class="message" [class.right]=" msg.userId === toUser.toUserId " [class.left]=" msg.userId === user.id "
      [class.cent]=" msg.userId === 142 ">
      <div *ngIf="(msg.userName!=='Note' && msg.interimImageInStory !== 'yes')">
        <div class="msg-detail">
          <div class="msg-content msg-content-dark">
            <div class="msg-info">{{msg.userName}}</div>
            <p class="line-breaker ">{{msg.message}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="msg.userName === 'Note'">
        <ion-card>
          <div class="note-message">
            {{msg.message}}
          </div>
        </ion-card>
      </div>
      <div *ngIf="msg.type === 'interimImage'">
        <div class="note-message">
          <img src="../../assets/img/{{msg.imageSrc}}" alt="Smiley face">
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <div class="input-wrap">
    <ion-button expand="full" *ngIf="msgView?.length>0" appIonCLick (debouncedClick)="sendMsg()">Continue reading...</ion-button>
    <ion-button expand="full" *ngIf="msgView?.length === 0" appIonCLick (debouncedClick)="sendMsg()">TAP</ion-button>
  </div>
</ion-footer>