ion-toolbar {
  position: relative;
  color: white;

    >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-start: 0px;
    font-weight: bold;
  }
  span {
    &.mute{
      float: right;
    }
  }
}

// ion-content {
//     --background: url('../../assets/img/chat03.png') no-repeat center center / cover;
// }

ion-content {
    --background: url('../../assets/img/chat03.png') no-repeat center center / cover;
}

.app-chat {
  $userBackgroundColor: #6da1fa;
  $toUserBackgroundColor: rgb(255, 255, 255);

   .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 5px;
    display: flex;
    textarea {
      flex: 1;
      border: 0;
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }

  .message-wrap {
    padding: 0 10px;
   // background-color: #E6EEFF;
    background-color: transparent;
    .message {
      position: relative;
      padding: 7px 0;
       .msg-detail {
        width: 100%;
        display: inline-block;

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
         // border: 1px solid #ddd;
         // color: #343434;
          width: auto;
          max-width: 80%;

        .line-breaker {
           margin: 0;
         }
        }
      }

      .note-message {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 20px;
        color: black;
        >img { 
          width: 100%;
          height: 100%;
        }


      }
    }

    .message.left {
      .msg-content {
        background-color: $toUserBackgroundColor;
        float: left;
       // color: #343434;
        .msg-info {
          font-size: 1em;
          margin-bottom: 5px;
          font-weight: bold;
          color: #AF002A;
       }
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }
    }

    .message.right {
      .msg-detail {
        .msg-info {
          margin-bottom: 5px;
          text-align: right;
          font-size: 1em;
          color: #3B7A57;
          font-weight: bold;
        }
      }

      .msg-content {
        background-color: $toUserBackgroundColor;
        float: right;
       }
    }
  }
}

ion-footer {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
  // background-color: #fff;
  height: 44px;
  margin-top: -3px;
}

ion-card {
  box-shadow: none;
  background: none;
  // color: black;
}

.md body[data-theme="dark"]  {

       .dark-image {
        --background: url('../../assets/img/Chat_dp.png') no-repeat center center / cover !important;
     }
}
