  ion-toolbar {
    font-weight: bold;
    color:white;

    .story-header-icon {
        height: 18px;
        color: white;
      }

    .habit-title {
      margin-left: 10px;
      font-size: 16px;
    }
  }

  .journal-page {

    .header-image {
      margin: 22px;
    }
    .journal {
      margin: 10px;
      .journal-image {
        display: flex;
        margin: 10px;
        font-size: 16px;
        
        >ion-text {
          margin-left: 3px;
        }  
      }

    .emoticon-container {
      display: flex;
      flex-direction: row;
      align-items: center;
     // border: 1px solid #cfcfcf;

      .emoticon {
        margin:10px;
        flex-basis: 15%;
      }
    }
    .journal-submit {
      margin-top: 10px;
    }
  }

    .emotion-para {
      display: flex;
      justify-content: center;
    }

    .feed-container {

        .feed-label {
          font-size: 16px;
           margin-bottom: 5px;
          margin-left: 10px;
        }
      margin: 10px;

      .journal-feed-label {
        padding: 0;
        padding-bottom: 5px;

        .feed-label {
          font-size: 16px;
         
        }
      }
    }

  .journal-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    .journal-text {
      margin-bottom: 5px;
     // color: black;
    }
    .journal-day{
      font-size: 13px;
    }
  }

  .label-size {
    margin-top: 10px;
    font-size: 16px;
  }

     ion-label {
      &.label-size {
        font-size: 20px;
      }
    }
  }

   ion-card {
      box-shadow: none;
      border: 1px solid #E1E1E1;
      border-radius: 5px;
      margin: 0;
      margin-bottom: 10px;
    }