<div class=intro-slides>
  <ion-slides [pager]="true" [options]="slideOpts" #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <div class="slidesheader"> START SOMETHING NEW!</div>
      <ion-img src="/assets/img/pencil.svg"></ion-img>
      <div class="slidestext">Introduce a new goal into your life like reading a book, journaling, workout etc., and try it for the next 7 days.
        We will make sure you stay motivated for the entire week.
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slidesheader"> READ THE STORY! </div>
      <ion-img src="/assets/img/onbook.svg"></ion-img>
      <div class="slidestext"> Read the story of Colin, whose life is going be affected based on whether you completed your habit. These are byte-sized
        chapters told in different formats. Story starts as a chat fiction and takes other formats such as Comics and Visual
        Novel.
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slidesheader">HELP COLIN!</div>
      <ion-img src="assets/img/newman.png"></ion-img>
      <div class="slidestext"> If you complete your goal today, Colin’s day will be great tomorrow. If you fail in your goal completion, Colin will
        have very unlucky next day. Help Colin to become a "Super Hero"! </div>
    </ion-slide>

    <ion-slide>
      <div class="slidesheader "> GET MOTIVATED! </div>
      <ion-img src="assets/img/motivate.svg "></ion-img>
      <div class="slidestext "> The Story is designed in such a way that it will change based on your goal completion.<br><br> Choose your own goal,
        choose your own actions and choose your own destination!</div>
    </ion-slide>


    <ion-slide>
      <ion-header>
        <div class="slidesheader challengeSelectHeader"> Choose one of the below challenges </div>
      </ion-header>

      <div class="habit-card-container">
        <div class="habit-grid">
          <ion-card *ngFor="let item of challenges; index as i" (click)="challengeSelect(item,item.id,i)">
            <div [className]="item.challengeCheck ? 'triangle triangle__selected' : 'triangle'"></div>
            <fa-icon *ngIf="item.challengeCheck" class="check" [icon]="['fas', 'check']"></fa-icon>
            <div class="step-detail">
              <img src="./assets/img/challenge/challenge{{item?.id}}.svg">
              <!-- <div class="title-font">
                {{item.challenge}}
                <div>asss</div>
              </div> -->
            </div>
            <ion-row>
              <ion-col class="habit-card-content">
                {{item.challenge}}
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <ion-footer no-border>
        <div class="input-wrap">
          <ion-button expand="full" (click)="goToChallenge()" [disabled]="!isSelected">Get Started</ion-button>
        </div>
      </ion-footer>
    </ion-slide>

  </ion-slides>
</div>