ion-label {
    font-size: 14px;
}

ion-tabs {
   --ion-tabbar-background-color: linear-gradient(#F8501C, #FFAB1D);                     // already exists
   --ion-tabbar-color: linear-gradient(#F8501C, #FFAB1D);   // suggested
   --ion-tabbar-color-selected: linear-gradient(#F8501C, #FFAB1D);         // suggested
}

ion-toggle {
    padding: 0;
    --handle-height: 18px;
    height: 18px;
    margin-bottom: 1px;
}