<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button routerLink="/intro" (click)="customBackClick()"> </ion-back-button>
      <ion-title>Enter details</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-container" fullscreen>
  <div class="custom-image">
    <img src="./assets/img/challengeImage.png">
  </div>

  <form [formGroup]="customForm" (ngSubmit)="goToTabs()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nick Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="nickName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Challenge Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="challengeName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 1
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day1"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day1')" *ngIf="customForm?.value.day1.length>0"></fa-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 2
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day2" [disabled]="customForm?.value.day1.length>0 ? false : true"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day2')" *ngIf="customForm?.value.day2.length>0"></fa-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 3
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day3" [disabled]="customForm?.value.day2.length>0 ? false : true"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day3')" *ngIf="customForm?.value.day3.length>0"></fa-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 4
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day4" [disabled]="customForm?.value.day3.length>0 ? false : true"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day4')" *ngIf="customForm?.value.day4.length>0"></fa-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 5
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day5" [disabled]="customForm?.value.day4.length>0 ? false : true"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day5')" *ngIf="customForm?.value.day5.length>0"></fa-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 6
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day6" [disabled]="customForm?.value.day5.length>0 ? false : true"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day6')" *ngIf="customForm?.value.day6.length>0"></fa-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 7
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day7" [disabled]="customForm?.value.day6.length>0 ? false : true"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day7')" *ngIf="customForm?.value.day7.length>0"></fa-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Day - 8
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="day8" [disabled]="customForm?.value.day7.length>0 ? false : true"></ion-input>
        <fa-icon class="tap-shadow" [icon]="['fas', 'save']" slot="end" (click)="saveDay('day8')" *ngIf="customForm?.value.day8.length>0"></fa-icon>
      </ion-item>

      <ion-button class="habit-submit-button" expand="full" type="submit" [disabled]="!customForm.valid">Start Challenge
      </ion-button>
    </ion-list>

  </form>
</ion-content>