ion-toolbar {
  position: relative;
  color: white;
  >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-start: 0px;
    font-weight: bold;
    // margin-top: 14px;
  }
}

.custom-container {
  .custom-image {
  margin: 0 auto;
}

fa-icon {
  color: #ec6a5c;
  font-size: 25px;
}
  .habit-submit-button {
    margin-top: 38px;
  }

  .goal-card {
    height: 40px;
    background: #FCE7DA;

    .goal-container {
      display: flex;
      margin: 5px;

    .goal-text {
      color: black;
      }
    }
  }
}
