<audio id="chatAudio" autoplay=true loop="true" src="../../assets/audio/{{audioParam}}"></audio>
<ion-content (click)="visualNovelClick()">
  <div class="novel-container">
    <img id="visual-image" src="./assets/img/Scene0{{visualNovelChapternum}}/{{visualNovelChapternum === 6 ? novelSix : novelSeven}}.png">
    <div class="text-block">
      <!-- <p *ngIf="visualNovelChapternum === 6">{{novelSixtext}}</p>
      <p *ngIf="visualNovelChapternum === 7">{{novelSeventext}}</p> -->
      <p>{{visualNovelChapternum === 6 ? novelSixtext : novelSeventext}}</p>
    </div>
    <ion-icon class="novelHome" (click)="homeIconClick($event)" slot="end" name="home"></ion-icon>
  </div>

</ion-content>