.novel-container {
  position: relative;
  font-family: Arial;
  height: 100%;

  >img {
    height: 100%;
    width: 100%;
  }

  .novelHome {
    position: absolute;
    color: #ff637c;
    font-size: 50px;
    right: 10px;
    top: 0;
  }
}

.text-block {
  position: absolute;
  bottom: 20px;
  background-color: black;
  opacity: 0.5;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: center;

  p {
    padding-left: 5px;
  }
}
