<ion-header>
  <div>
    <ion-toolbar id="step1">
      <div class="header-container">
        <div>Paradime - Goal</div>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="habit-page">
  <div id="scroll-container">
    <div class="home-container">
      <ion-card class="header-card-outer">
        <ion-card class="header-card-inner">
          <div class="header-image dark-image-color">
            <div class="iteminvisible">
              <img class="goal-icon" src="./assets/img/location.svg">
              <span> Earth</span>
            </div>
            <img class="blink-img" src="./assets/img/pic1.png">
            <div class="colin-day">
              <div>Day
                <div>{{totaldays}} </div>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-card>

      <div lines="none" class="colin-name-container">
        <div class="colin-name"> {{firstName}} ({{nickName}}) </div>
        <div class="colin-level">Level: {{habitLevel}} </div>
      </div>

      <ion-card class="goal-card">
        <div class="goal-container">
          <img class="goal-icon" src="./assets/img/goal.svg">
          <ion-label class="goal-text" *ngIf="!customBoolean">Goal: {{selectedChanllege?.challenge.challenge}} for 7 days</ion-label>
          <ion-label class="goal-text" *ngIf="customBoolean">Goal: {{challengeName}} for 7 days</ion-label>
        </div>
      </ion-card>
    </div>
    <!-- <hr />
    <ion-grid id="step2">
      <ion-row>
        <ion-col>
          <div class="habit-narrator">{{ narratorTalk }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <hr /> -->
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-content>
              <div class="habit-image goal-progress">Your Goal Progress: </div>
            </ion-card-content>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item id="step3" lines="none">
            <ion-col>
              <div>
                <img src="../assets/day{{showday[0]}}.png" />
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../assets/day{{showday[1]}}.png" />
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../assets/day{{showday[2]}}.png" />
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../assets/day{{showday[3]}}.png" />
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../assets/day{{showday[4]}}.png" />
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../assets/day{{showday[5]}}.png" />
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../assets/day{{showday[6]}}.png" />
              </div>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-content class="completed-button">
              <ion-button id="step4" expand="block" color="primary" (click)="completeHabit()">
                Completed
              </ion-button>
            </ion-card-content>

          </ion-col>
          <ion-col>
            <ion-card-content class="info-content">
              <ion-icon class="info-icon" name="help-circle" (click)="presentPopover()"></ion-icon>
            </ion-card-content>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>
  </div>

  <div id="home-step3">
    <ion-card>
      <ion-item lines="none" *ngFor="let x of subSteps; index as i" class="subStep-item" (click)="subStepClick(x, i)">
        <img src="./assets/img/substep{{selectedChanllege?.id}}/image{{i}}.svg">
        <div class="title-font" [ngClass]="totaldays < x.day ? 'text-blur' : '' "> Day {{x.day}} - {{x.title}} </div>
        <fa-icon *ngIf="totaldays < x.day" class="lock" [icon]="['fas', 'lock']" slot="end"></fa-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>