
.home-container {

.header-image {
    display: flex;
    justify-content: space-between;
    background-color: #4375ff;
   //  animation: example 5s infinite;

    .iteminvisible {
      flex: 0 1 auto;
      margin: 10px;
      font-weight: bold;
      margin-right: 0;
      color: white;
      justify-content: center;
      display: flex;
      margin-left: 2px;

    .goal-icon {
      height: 18px;
      margin-right: 3px;
    }

      >span {
      margin-top: 1px;
    }
    }
    .blink-img {
       flex: 0 1 auto;
       // height: 110px;
    }

    .colin-day {
       flex: 0 1 auto;
       font-size: 20px;
        border: 1px;
        border-radius: 50%;
        height: 44px;
        margin: 10px;
        background: white;
        >div {
          margin: 9px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: bold;
        }
    }
}

// @keyframes example {
//   0%   {background-color: #F8501C;}
//   25%  {background-color: #149E8E;}
//   50%  {background-color: #F8501C;}
//   100% {background-color: #548AF0;}
// }
  .colin-name-container {
     display: flex;
     margin: 12px;
     justify-content: space-between;

    .colin-name {
      font-weight: bold;
    }

    .colin-level {
      color: #787878;
    }
  }

  .goal-card {
    height: 40px;
    background: #FCE7DA;

    .goal-container {
      display: flex;
      margin: 10px;

    .goal-icon {
      height: 18px;  
    }

    .goal-text {
      // color: black;
        margin-left: 15px;
      }
    }
  }


  .header-card-outer {
    border-radius: 10px;

    .header-card-inner {
      margin: 7px;
      border-radius: 10px;
    }
  }
}
  ion-toolbar {
    font-weight: bold;
    color:white;

   .logo {
      img {
      height: 60px;
      padding-top: 5px;
    }
   }

    .habit-title {
      top: 25px;
    }

    .header-container {
      display:flex;

      .blink-img {
        height: 18px;
        margin-right: 10px;
      }

    >div {
      margin-left: 10px;
      font-size: 16px;
    }
  }
  }

 

  #home-step1 {
    >div {
      display: flex;
    }
    .blink-img {
      width: 90px;
      margin-left: 5px;
    }
    .header-name {
      margin-top: 25px;
      line-height: 22px;
      margin-left: 10px;
   }
}

  hr {
    border-bottom: 1px solid #cfcfcf;
    margin-top: -1px;
    width: 100%;
    margin-bottom: 0;
  }

  .habit-page {
    .header-name {
      float: left;
      margin-left: 60px;
      margin-top: -60px;
      padding-left: 5px;
    }

    .colin-margin {
      margin-top: 20px;
    }

    .colin-avatar {
      img {
        margin-top:10%;
        margin-bottom:10%;
        width:75%;
      }
   }

   .balance-placement { 
    display: flex;
    flex-direction: column; 
    .goal-habitpage{
      margin-bottom: 10px;
    }
  }


  .habit-image {
    display: flex;
    font-size: 16px;
    // color: black;

  }

  .habit-narrator {
    display: flex;
    justify-content: center;
    font-family: "Amatic SC" !important;      
    font-size: 20px !important;
    font-weight: bold;
    margin: 8px;
  }

  ion-label {
    &.label-size {
      font-size: 20px;
    }
  }

  .info-icon {
    font-size: 20px;
    color: #FF4374
   // background-image: linear-gradient(#F8501C, #FFAB1D);;
  }

  .subStep-item {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;

    .title-font {
      margin-bottom: 5px;
      margin-left: 15px
    }
    img {
      height: 70px;
    }

    .text-blur {
      filter: blur(5px);
    }
  }

.selected-challenge {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.completed-button {
  padding-right: 0;
}

.info-content {
  padding-left: 0;
}

  fa-icon {
    &.lock {
      color: #F1C609;
    }
  }
}

 ion-card {
    box-shadow: none;
    border: 1px solid #E1E1E1;
    border-radius: 5px;

    ion-card {
      box-shadow: none;
    }
 }

