.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  .modal-first-option {
    border-radius: 3px;
    margin: 20px;
    width: 80%;
    background-color: #B3FFE5;
    padding: 10px;
  }
  .modal-second-option {
    border-radius: 3px;
    margin: 20px;
    width: 80%;
    background-color: #EFDECD;
    padding: 10px;
  }
  .modal-third-option {
    border-radius: 3px;
    margin: 20px;
    width: 80%;
    background-color: #FFD4CC;
    padding: 10px;
  }
}

