<ion-content>
  <div class="modal">
    <audio id="modalAudio" *ngIf="audioParam" loop="true" src="../../assets/audio/{{audioParam}}"></audio>
    <div *ngIf="modalTapHeading">Tap any of the below</div>
    <div class="modal-first-option" (click)="firstActionClick()">{{firstAction}}</div>
    <div class="modal-second-option" (click)="secondActionClick()">{{secondAction}}</div>
    <div class="modal-third-option" (click)="thirdActionClick()">{{thirdAction}}</div>
  </div>
</ion-content>