ion-toolbar {
  position: relative;
  color: white;

  >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-start: 0px;
    font-weight: bold;
  }
}

 .journal-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

  .journal-text {
      margin-bottom: 5px;
      // color: black;
    }
    .journal-day{
      font-size: 13px;
    }
  }

   ion-card {
      box-shadow: none;
      border: 1px solid #E1E1E1;
      border-radius: 5px;

    }