<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button (click)="journalBackClick()"> </ion-back-button>
      <ion-title>Journals</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row class="journal-data" *ngFor="let feed of feedData; let i=index">
        <ion-col size="3">
          <div> <img src="../../assets/smileys/{{feed.emoticon}}.svg"> </div>
        </ion-col>
        <ion-col size="9">
          <div class="journal-text">{{feed.journal}}</div>
          <span class="journal-day">Day {{feed.day}}</span>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>