.home-container {

.header-image {
    display: flex;
    justify-content: space-between;
   // background-color: #FFF8CC;
    background-color: #4375ff;

    .iteminvisible {
      flex: 0 1 auto;
      margin: 10px;
      font-weight: bold;
      margin-right: 0;
      color: white;
      justify-content: center;
      display: flex;
      margin-left: 2px;

    .goal-icon {
      height: 18px;
      margin-right: 3px;
    }
    >span {
      margin-top: 1px;
    }
  }

    .blink-img {
       height: 200px;
       flex: 0 1 auto;
    }

    .colin-day {
       flex: 0 1 auto;
       font-size: 20px;
        border: 1px;
        border-radius: 50%;
        height: 44px;
        margin: 10px;
        background: white;
        >div {
          margin: 9px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: bold;
        }
    }
}

  .colin-name-container {
    display: flex;
    margin: 12px;
    justify-content: space-between;

    .colin-name {
      font-weight: bold;
    }

    .colin-level {
      color: #787878;
    }
  }

  .goal-card {
    height: 40px;
    background: #FCE7DA;

    .goal-container {
      display: flex;
      margin: 10px;

    .goal-icon {
      height: 18px;  
    }

      .goal-text {
       // color: black;
        margin-left: 15px;
        }
    }
  }

   .header-card-outer {
    border-radius: 10px;

    .header-card-inner {
      margin: 7px;
      border-radius: 10px;
    }
  }
}



.home-page {
  .header-name {
    float: left;
    margin-left: 60px;
    margin-top: -60px;
    padding-left: 5px;
  }

  .colin-margin {
    margin-top: 20px;
  }

  .balance-placement { 
    display: flex;
    flex-direction: column; 
    .goal-homepage{
      margin-bottom: 10px;
    }
  }


  .habit-level {
    justify-content: center;
    padding: 10px;

    .icon-style {
      color: red;
    }

    .ion-bar {
      margin-top:7px;
    }
  }
}


#home-step1 {
  >div {
    display: flex;
  }
  .blink-img {
    width: 90px;
    margin-left: 5px;
  }
   .header-name {
      margin-top: 25px;
      line-height: 22px;
      margin-left: 10px;
   }
}

ion-toolbar {
  font-weight: bold;
  color:white;
 

  .header-container {
    display:flex;
   // margin-left: 10px;
   font-size: 16px;

    .story-header-icon {
        height: 18px;
        color: white;
      }

    >div {
      margin-left: 10px;
      font-size: 16px;
    }
  }
}

ion-avatar{
margin-right: 1em;
}

hr {
  border-bottom: 1px solid #ccc;
  margin-top: -1px;
  width: 100%;
  margin-bottom: 0;
}

fa-icon {
  &.lock {
    color: #F1C609;
  }
  &.emoticon {
    color: #2F3846;
  }
}

#home-step3 {
 
.story-card {
  display: flex;
}
  .step-detail {
    display: flex;
    margin-bottom: 10px;
    // margin-left: 5px;
    
     .title-font {
        font-size: 14px;
        margin-bottom: 5px;
        margin-left: 15px;
        line-height: 20px;

      .sub-title {
        font-size: 12px;
        color: dimgrey;
        margin-top: 2px;
      }
    }

    //  .text-blur {
    //   filter: blur(5px);
    // }
  
    img {
      height: 70px;
    }
  }
}

 

  .card-container {
    .card-item {
      height: 100px;
     // background-color: tan;
      &.step-detail {
        display: flex;
        margin-bottom: 10px;
        // margin-left: 5px;

        .title-font {
          margin-bottom: 5px;
        }
        img {
          height: 100px;
          width: 82px;
        }

        .title-font {
          margin-left: 5px
        }
      }
    }
  }

  ion-card {
    box-shadow: none;
    border: 1px solid #E1E1E1;
    border-radius: 5px;

    ion-card {
      box-shadow: none;
    }
  }
  