<ion-header>
  <ion-toolbar>
    <div class="header-container">
      <div>Paradime - Story</div>
    </div>

  </ion-toolbar>
</ion-header>



<ion-content class="home-page">
  <div id="home-id">
    <div class="home-container">
      <ion-card class="header-card-outer">
        <ion-card class="header-card-inner">
          <div class="header-image dark-image-color">
            <div class="iteminvisible">
              <img class="goal-icon" src="./assets/img/location.svg">
              <span> Rentri</span></div>
            <img class="blink-img" src="./assets/img/animts.png">
            <div class="colin-day">
              <div>Day
                <div>{{colinsDay}} </div>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-card>


      <div class="colin-name-container">
        <div class="colin-name"> Colin Mason </div>
        <div id="home-step1" class="colin-level">Level: Beginner </div>
      </div>

      <ion-card class="goal-card" id="goal-card-id">
        <div class="goal-container">
          <img class="goal-icon" src="./assets/img/goal.svg">
          <ion-label class="goal-text">Goal: Wants to become a superhero!</ion-label>
        </div>
      </ion-card>
    </div>
    <div id="home-scroll">
      <ion-card>
        <ion-grid id="home-step2" class="habit-level">
          <ion-row>
            <ion-col size="4" class="behaviour-title">
              Happiness
            </ion-col>
            <ion-col size="1">
              <ion-icon src="/assets/smileys/smileColored.svg"></ion-icon>
            </ion-col>
            <ion-col size="7" class="ion-bar">
              <div *ngIf="isDefault">
                <ion-progress-bar value={{defaultBehaviours.happiness}}></ion-progress-bar>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <div class="behaviour-title">
                Health
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon src="/assets/smileys/hospital.svg"></ion-icon>
            </ion-col>
            <ion-col size="7" class="ion-bar">
              <div *ngIf="isDefault">
                <ion-progress-bar value={{defaultBehaviours.health}}></ion-progress-bar>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <div class="behaviour-title">
                Romance
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon src="/assets/smileys/rose.svg"></ion-icon>
            </ion-col>
            <ion-col size="7" class="ion-bar">
              <div *ngIf="isDefault">
                <ion-progress-bar value={{defaultBehaviours.romance}}></ion-progress-bar>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
              <div class="behaviour-title">
                Fear
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon src="/assets/smileys/scare.svg"></ion-icon>
            </ion-col>
            <ion-col size="7" class="ion-bar">
              <div *ngIf="isDefault">
                <ion-progress-bar value={{defaultBehaviours.fear}}></ion-progress-bar>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <div class="behaviour-title">
                Wanted level
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon src="/assets/smileys/wanted.svg"></ion-icon>
            </ion-col>
            <ion-col size="7" class="ion-bar">
              <div *ngIf="isDefault">
                <ion-progress-bar value={{defaultBehaviours.wantedLevel}}></ion-progress-bar>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
              <div class="behaviour-title">
                Net Worth
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon src="/assets/img/coins.svg"></ion-icon>
            </ion-col>
            <ion-col size="7">
              <div *ngIf="isDefault">
                {{defaultBehaviours.balance}}
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-card>
    </div>

    <ion-card>
      <div id="home-step3">
        <ion-list lines="none">
          <ion-item (click)="passjsonData(1)" class="step-detail">
            <img src="./assets/img/icondays1.png">
            <div class="title-font">
              Chapter 1 - The first contact
              <div class="sub-title"> 3 min · Chat Fiction (Interactive) </div>
            </div>
          </ion-item>

          <ion-item (click)="passjsonData(2)" class="step-detail">
            <img src="./assets/img/icondays2.png">
            <div class="title-font">
              Chapter 2 - Green-Eyed Monster
              <div class="sub-title"> 2 min · Chat Fiction (Interactive) </div>
            </div>
            <fa-icon *ngIf="storypointerDay < 2 || totaldays < 2" class="lock" [icon]="['fas', 'lock']" slot="end">
            </fa-icon>
          </ion-item>

          <ion-item (click)="passjsonData(3)" class="step-detail">
            <img src="./assets/img/icondays3.png">
            <div class="title-font">Chapter 3 - Fat demon with a small mouth
              <div class="sub-title"> 2 min · Chat Fiction (Interactive) </div>
            </div>
            <fa-icon *ngIf="storypointerDay < 3 || totaldays < 3" class="lock" [icon]="['fas', 'lock']" slot="end">
            </fa-icon>
          </ion-item>

          <ion-item (click)="passjsonData(4)" class="step-detail">
            <img src="./assets/img/icondays4.png">
            <div class="title-font"> Chapter 4 - Terrifying ordeals of Eirene
              <div class="sub-title"> 1 min · Comics </div>
            </div>
            <fa-icon *ngIf="storypointerDay < 4 || totaldays < 4" class="lock" [icon]="['fas', 'lock']" slot="end">
            </fa-icon>
          </ion-item>

          <ion-item (click)="passjsonData(5)" class="step-detail">
            <img src="./assets/img/icondays5.png">
            <div class="title-font">Chapter 5 - Above everyone else
              <div class="sub-title"> 2 min · Comics </div>
            </div>
            <fa-icon *ngIf="storypointerDay < 5 || totaldays < 5" class="lock" [icon]="['fas', 'lock']" slot="end">
            </fa-icon>
          </ion-item>

          <ion-item (click)="passjsonData(6)" class="step-detail">
            <img src="./assets/img/icondays6.png">
            <div class="title-font">Chapter 6 - Akrasia
              <div class="sub-title"> 3 min · Visual Novel</div>
            </div>
            <fa-icon *ngIf="storypointerDay < 6 || totaldays < 6" class="lock" [icon]="['fas', 'lock']" slot="end">
            </fa-icon>
          </ion-item>

          <ion-item (click)="passjsonData(7)" class="step-detail">
            <img src="./assets/img/icondays7.png">
            <div class="title-font">Chapter 7 - Exorcism
              <div class="sub-title"> 3 min · Visual Novel </div>
            </div>
            <fa-icon *ngIf="storypointerDay < 7 || totaldays < 7" class="lock" [icon]="['fas', 'lock']" slot="end">
            </fa-icon>
          </ion-item>

          <ion-item (click)="showText(8)" class="step-detail">
            <img src="./assets/img/icondays8.png">
            <div class="title-font">Chapter 8 - The Superhuman!
              <div class="sub-title"> 20 min · TBD </div>
            </div>
            <fa-icon class="lock" [icon]="['fas', 'lock']" slot="end"></fa-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </div>
</ion-content>